<nav>
    <div class="sidebar">
        <div class="logo-container">
            <div class="logo">
                <img src="logo.png" alt="Logo Save With Us">
            </div>
            <h1>SAVE WITH US 8</h1>
        </div>
        <div class="menu-items">
            <div class="menu-item">Dashboard</div>
            <div class="menu-item">Empresa</div>
            <div class="menu-item"routerLink="/ingresos">Ingresos</div>
            <div class="menu-item"routerLink="/egresos">Egresos</div>
            <div class="menu-item">Reportes</div>
        </div>
        <div class="footer">
            <div>NOSOTROS</div>
            <div><a href="">Términos y condiciones</a></div>
        </div>
    </div>
</nav>