<footer>
    <div class="footer-column">
        <h4>NOSOTROS</h4>
        <ul>
            <li><a href="#">Términos y condiciones</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>INFORMACIÓN</h4>
        <ul>
            <li><a href="#">Patrocinio</a></li>
            <li><a href="#">Privacidad</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>CONÉCTATE CON NOSOTROS</h4>
        <div class="social-icons">
            <i class=""></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fas fa-home"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>