<!-- Contenedor principal que incluye el menú lateral y el contenido de ingresos -->
<div style="display: flex">
  <!-- Componente de menú lateral -->
  <app-lateral></app-lateral>
  <!-- Contenido de la sección de ingresos -->
  <div class="ingresos-container">
    <div class="ingresos-header">
      <h1>INGRESOS</h1>
    </div>

    <div>
        <div>
            <table class="ingresos-table">
        <!-- Cabecera de la tabla -->
        <thead>
          <tr>

            <th>ID</th>
            <th>Ingreso Ventas</th>
            <th>Ingresos Netos</th>
            <th>Ingresos Brutos</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
          <tr>
          <td>1</td>
          <td>$200000</td>
          <td>$500000</td>
          <td>$30000000</td>
          <td>30/05/2025</td>
          <td class="actions-cell">
            <button class="btn-edit">Editar</button>
            <button class="btn-delete">Eliminar</button>
          </td>
          
        </tr>
        <tr>
          <td>2</td>
          <td>$400000</td>
          <td>$80000</td>
          <td>$4500000</td>
          <td>31/05/2025</td>
          <td class="actions-cell">
            <button class="btn-edit">Editar</button>
            <button class="btn-delete">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>$2340000</td>
          <td>$678000</td>
          <td>$89300000</td>
          <td>1/06/2025</td>
          <td class="actions-cell">
            <button class="btn-edit">Editar</button>
            <button class="btn-delete">Eliminar</button>
          </td>
        </tr>
        </thead>
        <!-- Subencabezados con paréntesis -->
        
      </table>
        </div>
      
    </div>
  </div>
</div>