
    <header>
    <div class="logo-container">
        <div class="logo">
            <img src="Logo8_us.png" alt="Logo Save With Us">
        </div>
        <h1>SAVE WITH US 8</h1>
    </div>
    <div class="buttons">
        <button class="btn-session">Iniciar Sesión</button>
        <button class="btn-account">Crear Cuenta</button>
    </div>
</header>

    <nav>
        <ul>
            <li><a href="#" class="active">Inicio</a></li>
        </ul>
    </nav>

    <main>
        <section class="hero">
            
            <h2>Evalua la salud financiera de tu empresa en tiempo real</h2>
            <p>Una plataforma inteligente para PYMES que te ayuda a tomar<br> decisiones estratégicas, prevenir riesgos y fortalecer tu empresa</p>
            <button class="btn-start">Comienza Gratis</button>
        </section>

        <section class="about-us">
            <h3>SOBRE NOSOTROS</h3>
           
            <p> Ayudamos a las pequeñas y medianas empresas a gestionar su salud financiera mediante inteligencia artificial, brindando diagnósticos y alertas oportunas. Iniciamos en Barranquilla y planeamos expansiones a nivel nacional, ofreciendo soluciones innovadoras adaptadas a las necesidades reales del sector empresarial.</p>
            
            <div class="features">
                <div class="feature">
                    <div class="feature-icon">
                        <img src="icon-chart.png" alt="Diagnóstico Financiero">
                    </div>
                    <p>DIAGNÓSTICO FINANCIERO EN TIEMPO REAL</p>
                </div>
                <div class="feature">
                    <div class="feature-icon">
                        <img src="icon-bell.png" alt="Alertas Inteligentes">
                    </div>
                    <p>ALERTAS INTELIGENTES</p>
                </div>
                <div class="feature">
                    <div class="feature-icon">
                        <img src="icon-report.png" alt="Reportes">
                    </div>
                    <p>REPORTES</p>
                </div>
                <div class="feature">
                    <div class="feature-icon">
                        <img src="icon-touch.png" alt="Fácil de Usar">
                    </div>
                    <p>FÁCIL DE USAR</p>
                </div>
            </div>
        </section>

        <section class="location">
            <div class="map-container">
                <img src="Mapa_colombia__Barranquilla-removebg-preview.png" alt="Mapa de Colombia con Barranquilla">
            </div>
            <div class="location-text"> 
                
                <h3>Iniciamos en Barranquilla, epicentro de la innovación empresarial en la región Caribe. Nuestro objetivo es crecer y llegar a todas las PYMES del país, brindando soluciones adaptadas a sus necesidades reales.</h3>
            </div>
        </section>

        <footer>
            <div class="footer-column">
                <h4>NOSOTROS</h4>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>INFORMACIÓN</h4>
                <ul>
                    <li><a href="#">Patrocinio</a></li>
                    <li><a href="#">Privacidad</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>CONÉCTATE CON NOSOTROS</h4>
                <div class="social-icons">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                        <i class=""></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fas fa-home"></i>
                        <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </footer>
    </main>


<router-outlet />
