<app-header></app-header>

<app-nav></app-nav>

<main>
    <section class="hero">

        <h2>Evalua la salud financiera de tu empresa en tiempo real</h2>
        <p>Una plataforma inteligente para PYMES que te ayuda a tomar<br> decisiones estratégicas, prevenir riesgos y
            fortalecer tu empresa</p>
        <button class="btn-start" routerLink="/registrarse">Comienza Gratis</button>
    </section>

    <section class="about-us">
        <h3>SOBRE NOSOTROS</h3>

        <p> Ayudamos a las pequeñas y medianas empresas a gestionar su salud financiera mediante inteligencia
            artificial, brindando diagnósticos y alertas oportunas. Iniciamos en Barranquilla y planeamos expansiones a
            nivel nacional, ofreciendo soluciones innovadoras adaptadas a las necesidades reales del sector empresarial.
        </p>

        <div class="features">
            <div class="feature">
                <div class="feature-icon">
                    <img src="diagnostico-financiero.png" alt="Diagnóstico Financiero">
                </div>
                <p>DIAGNÓSTICO FINANCIERO EN TIEMPO REAL</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <img src="alerta-inteligente.png" alt="Alertas Inteligentes">
                </div>
                <p>ALERTAS INTELIGENTES</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <img src="reporte.png" alt="Reportes">
                </div>
                <p>REPORTES</p>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <img src="facil-usar.png" alt="Fácil de Usar">
                </div>
                <p>FÁCIL DE USAR</p>
            </div>
        </div>
    </section>

    <section class="location">
        <div class="map-container">
            <img src="Mapa_colombia__Barranquilla-removebg-preview.png" alt="Mapa de Colombia con Barranquilla">
        </div>
        <div class="location-text">

            <h3>Iniciamos en Barranquilla, epicentro de la innovación empresarial en la región Caribe. Nuestro objetivo
                es crecer y llegar a todas las PYMES del país, brindando soluciones adaptadas a sus necesidades reales.
            </h3>
        </div>
    </section>
</main>
<app-footer></app-footer>