<app-header1></app-header1>
<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">SAVE WITH US</h1>
    <h2>Crear Cuenta</h2>

    <form class="login-form" (ngSubmit)="registrar_cuenta()">
      <!-- Mensaje de error general -->
      <div *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>

      <!-- Campo Nombre -->
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="nombre"
          placeholder="Ingresa tu nombre">
        <div *ngIf="nombreError" class="text-danger">{{ nombreError }}</div>
      </div>

      <!-- Campo Correo -->
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="correo"
          placeholder="Ingresa tu correo">
        <div *ngIf="correoError" class="text-danger">{{ correoError }}</div>
      </div>

      <!-- Campo Contraseña -->
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="contrasena"
          placeholder="Ingresa tu contraseña">
        <div *ngIf="contrasenaError" class="text-danger">{{ contrasenaError }}</div>
      </div>

      <!-- Campo Confirmar Contraseña -->
      <div class="form-group">
        <label for="confirm-password">Confirmar Contraseña</label>
        <input type="password" id="confirm-password" name="confirmPassword" class="form-control"
          [(ngModel)]="contrasenaConfirmada" placeholder="Confirma tu contraseña">
        <div *ngIf="confirmacionError" class="text-danger">{{ confirmacionError }}</div>
      </div>

      <button type="submit" class="login-button">Crear Cuenta</button>

      @if (registroExitoso) {
      <!-- Modal de Registro Exitoso -->
      <div class="modal-backdrop">
        <div class="modal-content">
          <h3>¡Registro Exitoso!</h3>
          <p>Tu cuenta ha sido creada correctamente.</p>
          <button type="button" (click)="cambiar_registros()" routerLink="/sesionarse">Ok</button> <!-- FIX -->
        </div>
      </div>
      }

      @if (registroFail) {
      <!-- Modal de Registro Fallido -->
      <div class="modal-backdrop">
        <div class="modal-content">
          <h3>¡Registro fallido!</h3>
          <p>Correo electrónico ya existente.</p>
          <button type="button" (click)="cambiar_registros()">Ok</button> <!-- FIX -->
        </div>
      </div>
      }

      <div class="additional-text">
        <p>¿Ya tienes una cuenta? <a routerLink="/sesionarse">Iniciar Sesión</a></p>
      </div>
    </form>
  </div>
</div>